@import url('../assets/fonts/fonts.css');

:root {
    --cor-black: #000;
    --cor-blue: #0052cc;
    --cor-white: #ffffff;
    --cor-white2: #f5f5f7;
    --cor-whats: #25d366;
    --cor-linha-cinza: #dcdcdc;
    --sidebar-width: 240px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--cor-white2);
    margin-left: var(--sidebar-width);
    padding: 0;
    display: flex;
}

.sidebar {
    width: var(--sidebar-width);
    background-color: var(--cor-white);
    border-right: 1px solid var(--cor-linha-cinza);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
    z-index: 99;
}

.sidebar button {
    padding: 15px 20px;
    text-decoration: none;
    color: #444;
    font-size: 1rem;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: background 0.2s;
}

.sidebar button:hover,
.sidebar button.active {
    background-color: var(--cor-white2);
    color: var(--cor-blue);
    font-weight: bold;
}

/* =====================HEADER============================= */

.admin-header {
    height: 8vh;
    background-color: var(--cor-white);
    border-bottom: 1px solid var(--cor-linha-cinza);
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 30px;
    z-index: 100;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.logo {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--cor-black);
}

.logo span {
    color: var(--cor-black);
    font-weight: 500;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 8px 24px 8px 42px;
    border-radius: 20px;
    border: 1px solid var(--cor-linha-cinza);
    background-color: var(--cor-white2);
    font-size: 1rem;
    color: var(--cor-black);
    outline: none;
    transition: border-color 0.2s;
}

.search-box i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--cor-black);
    pointer-events: none;
}

main {
    margin-left: var(--sidebar-width);
    padding: 90px 30px 30px 30px;
    width: 100%;
}

/* Estilo da seção */
.lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 100px 40px 40px;
}

/* ==================Section cards de promoção =======================*/
/* =================Section cards de promoção ========================*/

.promocao {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--cor-white2);
    display: flex;
    justify-content: center;
}

.div-promocao {
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 50px;
}

.div-promocao-1 {
    width: 50%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.div-promocao-1 img:hover {
    transform: scale(1.05);
}

.div-promocao-2 {
    width: 50%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.div-promocao-1 img,
.div-promocao-2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #fff;
    transition: transform 0.3s ease;
}


.div-promocao-2:hover img {
    transform: scale(1.05);
}

/* Celulares grandes */
@media (max-width: 768px) {
    .div-promocao {
        margin: auto;
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .div-promocao-2,
    .div-promocao-1 {
        width: 100%;
        height: auto;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }
}

/* Celulares pequenos (opcional) */
@media (max-width: 480px) {
    .div-promocao {
        margin: auto;
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .div-promocao-2,
    .div-promocao-1 {
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }
}

/* ===========Produtos em destaque======== */

.produtos-em-destaque {
    width: auto;
    padding: 50px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.produtos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 20px;
}

.produto {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(15px, 3vw, 20px);
    border-radius: 12px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.produto:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 82, 204, 0.15);
    border-color: var(--cor-blue);
}

.produto:hover {
    transform: translateY(-8px) scale(1.03) rotateX(2deg) rotateY(-2deg);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.produto:nth-child(6n) {
    border-right: none;
}

.produto img {
    width: 100%;
    max-width: 140px;
    height: 140px;
    object-fit: contain;
    margin: 25px auto 10px auto;
    display: block;
    background: #fff;
    border-radius: 0;
    box-shadow: none;
}

.produto h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #222;
    text-align: center;
    margin: 0 10px 10px 10px;
    min-height: 48px;
}

.preco {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.preco-antigo {
    text-decoration: line-through;
    color: #999;
    font-size: 1.1rem;
}

.preco-novo {
    color: var(--cor-blue);
    font-weight: 700;
    font-size: 1.3rem;
}

@media(max-width: 768px) {
    .produtos {
        grid-template-columns: repeat(2, 1fr);
    }

    .produto:nth-child(2n) {
        border-right: none;
    }

    .produto h3 {
        font-size: 1rem;
        font-weight: 500;
        color: #222;
        text-align: center;
        margin: 0 10px 10px 10px;
        min-height: 48px;
    }

    .preco-antigo {
        text-decoration: line-through;
        color: #999;
        font-size: 1rem;
    }

    .preco-novo {
        color: var(--cor-blue);
        font-weight: 700;
        font-size: 1rem;
    }

    .produto img {
        width: 100%;
        max-width: 160px;
        height: 160px;
        object-fit: contain;
        margin: 10px auto auto;
        display: block;
        background: #fff;
        border-radius: 0;
        box-shadow: none;
    }

    .btn {
        font-size: 1.6rem;
    }
}

@media (max-width: 1024px) {
    .produtos {
        grid-template-columns: repeat(2, 1fr);
    }

    .produto:nth-child(2n) {
        border-right: none;
    }

    .produto h3 {
        font-size: 1.3rem;
        font-weight: 500;
        color: #222;
        text-align: center;
        margin: 0 10px 10px 10px;
        min-height: 48px;
    }

    .preco-antigo {
        text-decoration: line-through;
        color: #999;
        font-size: 1.3rem;
    }

    .preco-novo {
        color: var(--cor-blue);
        font-weight: 700;
        font-size: 1.5rem;
    }

    .produto img {
        width: 100%;
        max-width: 180px;
        height: 180px;
        object-fit: contain;
        margin: 10px auto auto;
        display: block;
        background: #fff;
        border-radius: 0;
        box-shadow: none;
    }

    .btn {
        font-size: 1.6rem;
    }
}

@media (max-width: 600px) {
    .produtos {
        grid-template-columns: repeat(1, 1fr);
    }

    .produto {
        border-right: none;
    }

    .produto h3 {
        font-size: 1.1rem;
        font-weight: 500;
        color: #222;
        text-align: center;
        margin: 0 10px 10px 10px;
        min-height: 48px;
    }

    .preco-antigo {
        text-decoration: line-through;
        color: #999;
        font-size: 1.1rem;
    }

    .preco-novo {
        color: var(--cor-blue);
        font-weight: 700;
        font-size: 1.3rem;
    }

    .produto img {
        width: 100%;
        max-width: 165px;
        height: 165px;
        object-fit: contain;
        margin: 10px auto auto;
        display: block;
        background: #fff;
        border-radius: 0;
        box-shadow: none;
    }
}

@media(max-width: 480px) {
    .produtos {
        grid-template-columns: 1;
    }
}

@media (max-width: 374px) {
    .produtos-em-destaque h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 40px;
        font-family: 'Montserrat', sans-serif;
        color: var(--cor-black);
        text-align: center;
    }

    .produtos {
        width: 95%;
        display: grid;
        gap: 20px;
        overflow: hidden;
        margin-bottom: 30px;
        padding: 20px;
    }

    .produtos-em-destaque {
        width: 90%;
        margin: auto;
        background: var(--cor-white);
        /* padding: 50px 0 30px 0; */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .produto h3 {
        font-size: 1rem;
        font-weight: 500;
        color: #222;
        text-align: left;
        margin: 0 10px 10px 10px;
        min-height: 48px;
    }

    .preco {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        padding-left: 5px;
        margin-bottom: 10px;
    }

    .preco-antigo {
        text-decoration: line-through;
        color: #999;
        font-size: 0.85rem;
    }

    .preco-novo {
        color: var(--cor-blue);
        font-weight: 700;
        font-size: 0.95rem;
    }
}

/* =======================NMODO DE PRODUTO============================== */

.mod-prod {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}


.div-mod-prod {
    background-color: var(--cor-white);
    border-radius: 10px;
    width: 90%;
    max-width: 1400px;
    position: relative;
    margin: auto;
    padding: 25px 20px;
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.div-mod-prod h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: 10px;
    color: var(--cor-blue);
}

.fechar {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 30px;
    font-weight: bold;
    color: var(--cor-blue);
    cursor: pointer;
    transition: color 0.2s;
}

.fechar:hover {
    color: var(--cor-whats);
}


.mod-prod-form {
    width: 100%;
    background-color: var(--cor-white2);
    border: 2px solid var(--cor-blue);
    padding: 20px;
    margin-top: 25px;
    border-radius: 6px;
}

#form-produto-add {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.descricoes-produto,
.imgs-produto {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.descricoes-produto select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
    font-size: 14px;
    background-color: var(--cor-white);
    color: var(--cor-black);
    cursor: pointer;
}

.descricoes-produto select:focus {
    border-color: #0d6efd;
    outline: none;
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.3);
}

#form-produto-add label {
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-black);
}

#form-produto-add input[type="text"],
#form-produto-add input[type="number"],
#form-produto-add textarea,
#form-produto-add input[type="file"] {
    padding: 8px 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease;
}

#form-produto-add input:focus,
#form-produto-add textarea:focus {
    border-color: var(--cor-blue);
    box-shadow: 0 0 5px rgba(0, 82, 204, 0.3);
}


#btn-salvar-prod {
    display: block;
    margin: 20px auto 0;
    background-color: var(--cor-blue);
    color: var(--cor-white);
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
}

#btn-salvar-prod:hover {
    background-color: #003a99;
}

@media (max-width: 768px) {
    #form-produto-add {
        flex-direction: column;
    }

    .descricoes-produto,
    .imgs-produto {
        width: 100%;
    }
}


/* ==========================DESCRIÇÃO===================================== */
/* ==========================DESCRIÇÃO===================================== */

.container-desc {
    padding: 20px;
}

.container-descricao {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tabela {
    border: 2px solid var(--cor-blue);
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 6px;
}

.tabela input[type="text"] {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
}

.tabela table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabela td {
    padding: 6px;
}

/* Campos dentro das células */
.tabela td input[type="text"] {
    width: 100%;
    padding: 6px;
    border: 1px solid var(--cor-black);
    border-radius: 4px;
    font-size: 14px;
}

button.btn,
.container-desc>button {
    margin-top: 10px;
    padding: 8px 14px;
    font-size: 14px;
    background-color: var(--cor-blue);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.btn:hover,
.container-desc>button:hover {
    background-color: #45a049;
}


/* ==========================JANELA PRODUTOS INFORMAÇÃO===================================== */

/* ==========================JANELA PRODUTOS INFORMAÇÃO===================================== */

.janela-produto {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.janela-div {
    background-color: var(--cor-white);
    border-radius: 10px;
    width: 80%;
    max-width: 1400px;
    position: relative;
    margin: auto;
    padding: 25px 20px;
    animation: fadeIn 0.4s ease;
}

.janela-div h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: 10px;
    color: var(--cor-blue);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.janela-descricao {
    display: flex;
    gap: 20px;
    background-color: var(--cor-white2);
    border: 2px solid var(--cor-blue);
    padding: 20px;
    margin-top: 25px;
    border-radius: 6px;
    flex-wrap: wrap;
}

.imagens-janela {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    flex: 1;
    max-width: 50%;
}

.infos-janela {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.imagens-janela img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    border: 1px solid #ccc;
    object-fit: contain;
    background: white;
    padding: 5px;
}

.info-janela {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-janela p {
    display: flex;
    font-size: 1.3rem;
    margin: 12px 0;
    line-height: 1.5;
    align-items: center;
}

.info-janela p strong {
    flex-shrink: 0;
    width: 180px;
    font-weight: 700;
    color: var(--cor-blue);
    margin-right: 20px;
    text-align: right;
}

.info-janela p span {
    flex: 1;
    word-wrap: break-word;
    text-align: left;
    border-bottom: 2px solid var(--cor-blue);
}

.botoes-janela {
    margin-top: 30px;
    width: 50%;
    margin: auto;
    justify-content: space-around;
    display: flex;
    align-items: center;
}



/* ==========================PROMOÇÃO ATUALIZAR===================================== */
/* ==========================PROMOÇÃO ATUALIZAR===================================== */
/* ==========================PROMOÇÃO ATUALIZAR===================================== */

.mod-promo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}


.div-mod-promo {
    background-color: var(--cor-white);
    border-radius: 10px;
    width: 80%;
    max-width: 1400px;
    position: relative;
    margin: auto;
    padding: 25px 20px;
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.div-mod-promo h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: 10px;
    color: var(--cor-blue);
}

.promocao-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-white2);
    border: 2px solid var(--cor-blue);
    padding: 30px 20px;
    margin-top: 25px;
    border-radius: 12px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 15px rgba(0, 82, 204, 0.15);
    transition: box-shadow 0.3s ease;
}

.promocao-div:hover {
    box-shadow: 0 8px 25px rgba(0, 82, 204, 0.3);
}

.promocao-div h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--cor-blue);
    margin-bottom: 20px;
    text-align: center;
}

.promocao-img {
    width: 100%;
    max-width: 350px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.promocao-img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.promocao-img img:hover {
    transform: scale(1.05);
}

/* ==========================PROMOÇÃO ADICIONAR===================================== */
/* ==========================PROMOÇÃO ADICIONAR===================================== */
/* ==========================PROMOÇÃO ADICIONAR===================================== */

.add-promo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}


.div-add-promo {
    background-color: var(--cor-white);
    border-radius: 10px;
    width: 80%;
    max-width: 1400px;
    position: relative;
    margin: auto;
    padding: 25px 20px;
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.div-add-promo h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: 10px;
    color: var(--cor-blue);
}

.promocao-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-white2);
    border: 2px solid var(--cor-blue);
    padding: 30px 20px;
    margin-top: 25px;
    border-radius: 12px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 15px rgba(0, 82, 204, 0.15);
    transition: box-shadow 0.3s ease;
}

.promocao-add:hover {
    box-shadow: 0 8px 25px rgba(0, 82, 204, 0.3);
}

.promocao-add h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--cor-blue);
    margin-bottom: 20px;
    text-align: center;
}

.promocao-img {
    width: 80%;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}